body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
}

.fps {
  position: fixed;
  left: 0%;
  top: 0%;
  padding: 10px;
}

.cross-hair {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  user-select: none;
  font-size: 4rem;
  color: white;
}

.hidden {
  display: none;
}
